{% if item.value.ssl is defined %}
{% include "ssl.j2" %}
{% if item.value.ssl == 'uniq' %}
{% include "no-http.j2" %}
{% else %}
{% include "http.j2" %}
{% endif %}
{% else %}
{% include "http.j2" %}
{% endif %}
