[Unit]
Description=Web Server letsencrypt

[Service]
ExecStart=/bin/busybox httpd -f -v -p127.0.0.1:8080
WorkingDirectory=/home/letsencrypt/webroot/

User=letsencrypt
Group=letsencrypt

Restart=always

[Install]
WantedBy=multi-user.target
