

           {{ ansible_fqdn }}
 __        _______  __    __       _______.
|  |      /  _____||  |  |  |     /       |
|  |     |  |  __  |  |__|  |    |   (----`
|  |     |  | |_ | |   __   |     \   \
|  `----.|  |__| | |  |  |  | .----)   |
|_______| \______| |__|  |__| |_______/


